
.responseCard{
    width: 49%;
    border: 1px solid #00000026;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.responseCardTop{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.responseCardAvatar{
    height: 48px;
    width: 48px;
}

.responseCardTopInfo{
    margin-left: 25px;
}
.responseCardTopInfoRating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.responseCardTopInfoRating > span {
    margin-left: 10px;
}

.responseCardTopInfoSubtitle{
    color: #00000073;
}

.responseCardBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.responseCardBottomButton{
    width: 49%;
    border: 1px solid #00000026;
    background: white;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer
}
.responseCardBottomButtonGreen {
    color: black;
    border: 1px solid #36FFB9;
    background-color: #36FFB9;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}


.orderNumber {
    color: #00000073;
}

.file{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #1677FF;
    margin-bottom: 5px;
}
.file > svg {
    margin-right: 5px;
}