.content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 64px;
}

.order{
    width: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}


.toper{
    width: 100%;
    padding: 25px 0;
}
.goback{
    cursor: pointer;
}