.container{
    width: 100%;
    margin-top: 30px;
}

.tasksList{
    margin-bottom: 15px;
}

.listTitle{
    font-family: "Raleway Regular";
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.listSubtitle{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.createTaskSpan{
    margin-left: 10px;
    color: #1677FF;
}

.createTaskBtn{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listTitleBlock{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksListArea{
    width: 100%;
    padding: 16px;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.02);
}
.subtaskItem{
    margin-top: 15px;
    background-color: white;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid #00000026;
}

.task{
    margin-top: 30px;
}