.container{
    min-height: 80vh;
    width: 100%;
    background-image: url("/orders/noorders.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createOrder{
    margin-top: 30px;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    background: #36FFB9;

    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0px 8px 35px 0px rgba(54, 255, 185, 0.40);
}

.createOrder > span {
    margin-left: 5px;
    font-size: 16px;
    font-family: "Raleway Medium";
}

.title{
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 600;
}

.subtitle{
    color: rgba(28, 28, 28, 0.50);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}