.container{
    width: 100%;
}

.inputTitle{
    font-size: 14px;
    font-family: "Raleway Regular";
    margin-bottom: 6px;
    display: block;
}

.inputBody{
    /* margin-top: 8px; */
}

.message{
    font-size: 12px;
    color: #00000073;
}

.btnBody{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.btn{
    background-color: #0000000A;
    color: #00000026;
    border: 1px solid #00000026;
    padding: 6px 16px;
    border-radius: 8px;
}