.container{
    padding: 0 10px;
    width: 15%;
    box-sizing: border-box;
}

.title{
    font-family: "Raleway Medium";
    font-size: 20px;
}

.tabs{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}

.tabTitle{



}
.tab{
    color: black;
    font-family: "Raleway Regular";
    border-radius: 12px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.svg{
    margin-right: 8px;
}
.tabAvtice{
    background: #edfcff;
    font-family: "Raleway Medium";
    color: #1677FF;
}
.tabCount{
    font-family: "Raleway Medium";
}

.hr{
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    margin: 15px 0;
}

.createOrder{
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    width: 100%;
    border-radius: 25px;
    background: #36FFB9;

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0px 8px 35px 0px rgba(54, 255, 185, 0.40);
}

.createOrder > span {
    margin-left: 5px;
    font-size: 16px;
    font-family: "Raleway Medium";
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container{
        display: none;
    }
}