.container{
    width: 75%;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}
.info{
    width: 100%;
}
.status{
    width: 24%;
    background-image: url("/orders/status_bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoHeader{
    width:  100%;
    color: #828282;
    background-color: #fafafa;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statusMsg{
    background: #E5FAFF;
    color: #10739B ;
    padding: 15px;
    border-radius: 15px ;
}
.headerItems{
    display: flex;
    align-items: center;
}
.headerItem{
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.75);
}
.infoTitle{
    color: black;
    margin: 0;
    margin-top: 10px;
    font-size: x-large;
}
.infoSubStatus{
    margin: 10px 0;
    font-size: 24px;
    font-family: "Raleway Medium";
}
.infoText{
    margin: 15px 0;
}

.infoDesc{
    color: #4F4F4F;
}

.deadlinesWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.deadlineBody{
    display: flex;
    align-items: center;
}
.deadlineTitle{
    margin: 0 15px 0 10px;
    font-size: 18px;
}
.deadlineValue{
    font-family: "Raleway Bold";
    font-size: 18px;
}

.vr{
    height: 30px;
    width: 1px;
    background: #E0E0E0;
    margin: 0 30px;
}
.statusBold{
    font-family: "Raleway Medium";
}

.statusMicro{
    color: #828282;
}
.statusMsgBlock{
    display: flex;
    flex-direction: column;
}

.infoFooter{
    padding: 20px;
    box-sizing: border-box;

}

.categories{
    display: flex;
    align-items: center;
}

.category{
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 15px;
}

.button{
    color: #1677FF;
    font-size: 16px;
    cursor: pointer;
}

.orderStatus{
    color: #EB2F96;
    background: #FFF0F6;
    padding: 5px 8px;
    border: 1px solid #FFADD2;
    border-radius: 4px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}