.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.info{
    width: 75%;
}

.progress{
    width: 20%;
}

.infoHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.routerStory {
    color: #00000073;
    cursor: pointer;
}

.svg{
    cursor: pointer;
    margin-left: 10px;
}
.subtitle{
    font-size: 16px;
    color: #000000A6;
}
.file{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #1677FF;
    margin-bottom: 5px;
}
.file > svg {
    margin-right: 5px;
}

.notification{
    background-color: #FFFBE6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
}
.notification > svg {
    margin-right: 15px;
}

.responsesWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.responseCard{
    width: 49%;
    border: 1px solid #00000026;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.responseCardTop{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.responseCardAvatar{
    height: 48px;
    width: 48px;
}

.responseCardTopInfo{
    margin-left: 25px;
}
.responseCardTopInfoRating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.responseCardTopInfoRating > span {
    margin-left: 10px;
}

.responseCardTopInfoSubtitle{
    color: #00000073;
}

.responseCardBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.responseCardBottomButton{
    width: 49%;
    border: 1px solid #00000026;
    background: white;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer
}
.responseCardBottomButtonGreen {
    color: black;
    border: 1px solid #36FFB9;
    background-color: #36FFB9;
}

.statusCircle{
    height: 12px;
    width: 12px;
    background-color: #1677FF;
    border-radius: 50%;
    margin-bottom: 5px;
}
.statusLine{
    height: 64px;
    width: 1px;
    background-color: #1677FF;
}

.progressLines{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.progressStep{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.grayStatus{
    background-color: #00000073;
}

.statusTitle{
    color: #1677FF;
}
.grayStatusTitle{
    color: #00000073;
}