.header{
    width: 100%;
    padding: 15px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
}
.logo{
    cursor: pointer;
}
.menu{
    display: flex;
    align-items: center;
}
.menu>*{
    cursor: pointer;
}

.localBtn{
    background: #FFFFFF26;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0 20px;
}
.link{
    transition: 0.3s;
    cursor: pointer;
}
.link:hover{
    color: #2F80ED;
}

.button{
    background-color: white;
    border: 0px solid #d9d9d9;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@media (max-width: 599px) {
    .button1 {
        background-color: white;
        border: 0;
        padding: 8px 16px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-left: 1.5%;
        color: black; /* Убедитесь, что текст виден на белом фоне */
    }
}

/* Стили для десктопных экранов */
@media (min-width: 600px) {
    .button1 {
        background-color: #36FFB9; /* Зеленый фон только для десктопной версии */
        border: 1px solid #d9d9d9;
        padding: 10px 18px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: white; /* Цвет текста */
        text-decoration: none;
    }
}

.buttonText{
    margin-left: 8px;
    margin-top: 1px;
}
.buttonText1{
    margin-left: 8px;
    margin-top: 1px;
    color: white; /* Цвет текста */
    text-decoration: 0;
}


.profileBlock{
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-left: 30px;
}
.profileBlock:hover{
    color: #1677FF;
}
.profileBlock:hover svg {
    fill: #1677FF;
}

.profileImgBody{
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    margin-right: 8px;
}

.profileBlockTitle{
    margin-right: 5px;
}


.mobileMenu {
    /* Стили для мобильного меню */
    position: absolute;
    margin-top: 200px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}